
/* ajouter margin left 20px manuellement pour garder les lignes completes */



.disclaimer {
    display: none;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 45px;
    color: black;
    margin: 0px;
}

body {
    cursor: url('souris1.png') , auto;	
}

a {
    cursor: url('souris2.png'), auto;	
}

p {
    margin: 0px;
}

a {
    color: black;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
  }

.header {
    display: flex;
    font-size: 60px;
}

.nom {
    margin-left: 20px;
}

.bouton {
    display: flex;
    margin-left: 580px;
}

.boutonProjet, .boutonInfo {
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: underline;

}

.description {
    margin-top: 20px;
    margin-right: 300px;
    margin-left: 20px;
}

.titre {
    font-size: 65px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.sousTitre {
    font-size: 40px;
    margin-left: 20px;
    margin-bottom: -15px;
    text-decoration: underline;

}

.type {
    font-size: 30px;
    margin-left: 20px;
    margin-top: -15px;
}


hr.ligneProjet {
    border: 2px solid black;
}

.image {
    width: 600px;
    margin-top: -10px;
    margin-left: 400px;
}



img {
    border:5px solid #D2660F;
    background-color: #D2660F;

}

.ligne {
    width: 100%;
    text-align: center;
    height: 60px;
}

hr.ligneCategorie {
    border: 2px solid black;
    width: 17.2%;
    margin: 0.8%;
    display:inline-block;
    margin-top: 1px;
    margin-bottom: 1px;
}

.container {
    width: 100%;
    height: 300px;
    margin: auto;
    align-items: center;
    margin-bottom: 200px;
}

.blocCategorie, .blocTitre {
    width: 95%;
    margin-left: 35px;
    margin-right: 35px;
    display: flex;
    justify-content: space-between;
}

.infoTitre {
    font-weight: 600;
    font-size: 35px;
}

.categorie {
    font-size: 17px;
    margin-top: 10px;
}

#utc {
    text-decoration: underline;
}

.categorie, .infoTitre {
    flex-basis: 16%;
}

#elementinfo {
    margin-bottom: -30px;
}

.boutonProjet:hover, .boutonInfo:hover, .sousTitre:hover {
    color: #D2660F;
}


#uni:hover {
    text-decoration: underline;
}

span {
    color: #D2660F;
}

#linkedin:hover {
    color: #D2660F;
    text-decoration: underline;
}

.disclaimer {
    display: none;
}
@media (max-width: 750px) {
    
    .boutonProjet, .boutonInfo, .description {
        display: none;
    }

    .nom {
        font-size: 40px;
        margin-left: 10px;

    }

    .titre {
        font-size: 33px;
        margin-left: 10px; 
    }

    .sousTitre {
    font-size: 27px;
    margin-left: 10px;   
    margin-top: 20px; 
    }

    .type {
    font-size: 22px;
    margin-left: 10px;    
    }

    .projet {
        display: block;
    }

    .image {
        margin-top: 0px;
        margin-left: 0px;
        display: block;
        width: 95%;
        margin-left: 7px;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    .disclaimer {
        display: block;
        font-size: 35px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 30px;
        color: red;

    }
    .info {
        display: none;
    }
}

