/* ajouter margin left 20px manuellement pour garder les lignes completes */

body {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 45px;
    color: black;
    margin: 0px;
}

p {
    margin: 0px;
}
body {
    cursor: url('souris1.png') , auto;	
}

a {
    cursor: url('souris2.png'), auto;	

}
a {
    color: black;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
  }

.header {
    display: flex;
    font-size: 60px;
}

.nom {
    margin-left: 20px;
}

.nom:hover {
    color: #D2660F;
}

.image {
    height: 1000px;
    background-color: #D2660F;
}

.container {
    width: 50%;
    align-items: center;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

.containBack {
    display: flex;
    margin-left: 20px;
    margin-bottom: 50px;
}

.back:hover, .fleche:hover {
    color: #D2660F;
}

.back  {
    position: absolute;
    right: 20px;
}